/*
Theme Name: CMP2 Portfolio
Author: Bram De Backer
Author URI: http://bramdb.be/
Description: Eindopdracht CMPII
Version: 0.1
License: All Rights Reserved
*/

/**
 * Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

::selection {
  background: rgb(40,40,40); /* WebKit/Blink Browsers */
  color: rgb(240,240,240);
}

::-moz-selection {
  background: rgb(40,40,40); /* Gecko Browsers */
  color: rgb(240,240,240);
}

body {
	margin:0;
	overflow-x: hidden;
	font-size:112.5%;
	font-family: 'Roboto Condensed', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight:400;
}

.content-wrapper {
	line-height:175%;
	font-weight:300;
	
	a,
	a:visited,
	a:focus,
	a:active {
		color:#419BEC;
		text-decoration:none;
	}

	a:hover {
		color:#419BEC;
		text-decoration:underline;
	}

	p {
		line-height:150%;
	}

	strong {
		font-weight:400;
	}
}

body {
	background:#282828;

	& {
		nav {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			min-height:100vh;
			width: 16rem;
			z-index: 1;

			a {
				&,
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration: none;
				}
			}

			ul {
				padding: 1rem 0 0;
				margin: 0; 
				width:100%;
				text-align:center;

				li {
					list-style-type: none;
					margin: 1.5rem 0;
					color: rgba(240, 240, 240, 0);
					font-size: 1.5rem; 
					font-family: 'Oswald', sans-serif;
					font-weight:300;

					a {
						
					}
				}
			}

			.nav-bottom {
				position:absolute;
				bottom:0;
				width:100%;

				ul li {
					font-size:1rem;
					margin:1rem 0;
				}

				#copy {
					padding-top:0;

					li {
						color:rgb(140,140,140);
					}
				}

				#icon-row {
					overflow:hidden;
					padding:0 1.5rem;

					a {
						display:block;
						width:32px;
						height:32px;
						margin-right:26px;
						float:left;
					}

					div {
						li {
							background:rgb(240,240,240);
							border-radius:100%;
							text-align:center;
							width:32px;
							height:32px;
							line-height:32px;
							margin:0;
						}

						a li, 
						a:visited li, 
						a:active li,
						a:focus li {
							color:rgb(40,40,40);
							text-transform:none;
						}

						a:hover li {
							background:#419BEC;
							color:rgb(40,40,40);
						}
					}

					a:last-of-type {
						margin-right:0;
					}
				}
			}
		}

		#logo {
			display: block;
		    height:4rem;
			margin:0.5rem auto;
			font-weight:400;
			font-family:'Oswald', sans-serif;
		}
	
		.header {
			padding:4rem 0;
			text-align:center;
			box-shadow: 0px 0px 1px 0px rgb(0,0,0);
			background:rgb(255,255,255);

			h2 {
				display:none;
				font-size: 2rem;
				font-weight:300;
				line-height:125%;
				color: rgb(140,140,140);
				text-transform: uppercase;
			}
		}
	}

	&#home {
		#logo {
			height:4rem;
			margin:0.5rem auto;
		}

		.header {
			padding:4rem 0;

			h2 {
				display:block;
				margin:0;
			}
		}
	}

	& {
		.content {
			position:relative;
			padding: 1rem 0;
			/*overflow-x:hidden;*/

			div.container {
				max-width:960px;
				margin:0 auto;
				padding:0;
			}
		}

		.content-wrapper {
			position:relative;
			z-index:5;
			overflow-x:hidden;
			min-height:100vh;
			background:rgb(240,240,240);
			-webkit-transform: none;
					transform: none;
			-webkit-transition: -webkit-transform 100ms ease;
			transition: -webkit-transform 100ms ease;
			transition: transform 100ms ease;
			transition: transform 100ms ease, -webkit-transform 100ms ease;

			.content {

				&>.cover-image {
					width:auto;
					height:35vh;
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center;
					position:relative;
					top:-1rem;
				}

				.container {
					zoom: 1;

					&::before,
					&::after {
						content: "\0020";
					    display: block;
					    height: 0;
					    overflow: hidden; 
					}

					&::after {
						clear: both;
					}

					#masonry {
						box-sizing:border-box;

						article {
							padding:0 0 1rem 0;
							margin-top:0;
							margin-bottom:1rem;

							&>div {
								padding:0 1rem;
							}

							a {
								display:block;
								width:100%;
							}

							img {
								width:100%;

							}

							h1 {
								margin-bottom:.5rem;
							}

							p.description {
								margin-top:.5rem;
								margin-bottom:.5rem;
							}

							&.grid-sizer, 
							&.gutter-sizer {
								height:0;
								margin:0;
								padding:0;
							}

							&.grid-sizer, &.grid-item {
								width:32%;
							}

							&.gutter-sizer {
								width:2%;
							}
						}
						margin:0;
					}

					article {
						background:rgb(255,255,255);
						padding:2rem;
						margin:1rem 0;
					    box-shadow: 0px 0px 1px 0px rgba(40,40,40, 0.35);

						&:first-of-type {
							margin-top:0;
						}

						&:last-of-type {
							margin-bottom:0;
						}

						.cover-image {
							background-position:center;
							width:auto;
							height:35vh;
							margin:-2rem -2rem 2rem;
							background-repeat:no-repeat;
							background-size:cover;
						}

						h1 {
							text-align:center;
							text-transform:uppercase;
							font-size:1.75rem;
							font-weight:400;
							margin-top:0;
							line-height:175%;
						}

						h2 {
							color:rgb(140,140,140);
							font-weight:400;
							text-align:center;
							line-height:175%;
							text-transform:uppercase;
						}

						h1+h2 {
							margin-top:0;
						}

						&.blog-post {
							padding-top:.5rem;
							max-width:640px;
							margin-left:auto;
							margin-right:auto;
						}

						&.blog-post + #comment-section {
							max-width:640px;
							margin-left:auto;
							margin-right:auto;
						}
					}

					#comment-section {
						h1 {
							text-align:left;
							font-size:1.5rem;
							border-bottom:1px solid rgb(240,240,240);
						}

						.comment-list {
							list-style-type:none;
							margin-bottom:0;
							padding:0;

							li {
								.comment-body {
									padding:1rem;
								}

								.comment-author {
									font-weight:400;

									img {
										float:left;
										margin:0 1rem 1rem 0;
									}
								}

								.comment-metadata {
									font-size:0.85em;
								}

								.comment-content {
									clear:both;
								}

								.comment-reply {}
							}
						}
					}

					&.page {
						article {
							h1 {
								margin-bottom:0;
							}

							h2 {
								font-size:1.5rem;
								margin: 0;
							}
						}
					}

					&.blog {
						article {
							h2 {
								margin-bottom:0;
								font-size: 1em;
							}
						}
					}
				}
			}

			i {
				&#open_button {
					position:absolute;
					top:2rem;
					left:2rem;
					font-size:2rem;
					cursor:pointer;
					margin: 0;
				}

				&#twitter_button {
					font-size:1.5rem;
					cursor:pointer;
					margin:0;
					color:rgb(240,240,240);
				}
			}

			aside {
				top:13rem;
				bottom:0;
				max-height:100vh;
				width:16rem;
				background:rgb(40,40,40);
				position:absolute;
				overflow:hidden;
				right:-16rem;
				transition:right 237ms ease;
				color:rgb(240,240,240);
				padding:1rem 0;

				.slimScroll {
					padding:0 1rem;
				}

				section.twitter {
					h1 {
						font-weight:300;
						font-size:1.5rem;
						line-height:175%;
						text-transform:uppercase;
						color:rgb(140,140,140);
						margin:0;
						padding-bottom:0.25rem;
						margin-bottom:0.75rem;
						border-bottom:1px solid rgb(85,85,85);
					}

					article {
						padding-bottom:0.5rem;
						margin-bottom:0.5rem;
						border-bottom:1px solid rgb(85,85,85);

						p {
							margin:0;

							&:nth-of-type(2){
								margin-top:0.25rem;
								font-size:0.75em;
								color:rgb(140,140,140);
							}
						}
					}
				}
			}

			.side_button_wrapper {
				line-height: 125%;
				position:absolute;
				right:0rem;
				width:2.75rem;
				top:15rem;
				height:3rem;
				padding:0.75rem;
				text-align:center;
				box-shadow: 0px 0px 2px 0px rgba(40,40,40,0.75);
				border-radius:0.5rem 0 0 0.5rem;
				background-color:rgb(40,40,40);
				transition: width 237ms ease, background-color 237ms ease, right 237ms ease;

				&:hover {
					width:3rem;
				}

				&.stick {
					position:fixed;
					top:2rem!important;
				}
			}
		}
	}

	&#home {
		.content-wrapper {
			.content {
				.container {
					article {
						a {
							color:rgb(40,40,40);
							border-color:rgb(0,0,0);

							&:hover {
								color:rgb(0,0,0);
								text-decoration:none;

								h1 {
									text-decoration:underline;
								}
							}
						}
					}

					header {
						h1 {
							text-transform:uppercase;
							line-height:175%;
						}
					}

					&.blog {
						article {
							h1 {
								margin-bottom:0;
							}
						}
					}
				}
			}

			aside {
				top:15.5rem;
			}

			.side_button_wrapper {
				top:17.5rem; /*15.5 + 2 */
			}
		}
	}

	&.side-open {
		.content-wrapper {
			aside {
				box-shadow: 0px 0px 2px 0px rgba(40,40,40,0.75);
				right:0;

				&.stick {
					position:fixed;
					right:0!important;
					top:0!important;
					bottom:0!important;
					height:100vh;
				}
			}

			.side_button_wrapper {
				right:16rem;
				background-color:#419BEC;
			}
		}
	}

	&.menu-open {
		nav {
			display: block;
			position:fixed;

			li,
			a li,
			a:visited li {
				color: rgb(240,240,240);
				-webkit-transition: color 137ms ease;
				transition: color 137ms ease;
			}

			a li.active {
				color: rgb(140,140,140);
			}

			a:hover li {
				color: #419BEC;
			}
		}

		.content-wrapper {
			-webkit-transform: translateX(16rem);
					transform: translateX(16rem);
			-webkit-transition: -webkit-transform 237ms ease;
			transition: -webkit-transform 237ms ease;
			transition: transform 237ms ease;
			transition: transform 237ms ease, -webkit-transform 237ms ease;
		}
	}
}

.row {
	display: block;
	margin-left: -1%;
	margin-right: -1%;
	zoom: 1; 
}
.row::before,
.row::after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden; 
}
.row::after {
	clear: both; 
}

.page-block-2,
.page-block-3 {
	float:left!important;
}

.page-block-2 {
	width:48%!important;
	margin:1rem 1%!important;
}

.page-block-3 {
	width:31.333333%!important;
	margin:1rem 1%!important;
}

@media (max-width:62rem){
	body {
		.content-wrapper {
			.content {
				padding:0;

				.container {
					&.blog {
						header {
							h1 {
								padding-left:1rem;
								padding-right:1rem;
							}
						}
					}

					article {
						padding:1rem;

						div.cover-image {
							margin:-1rem -1rem 1rem;
						}
					}

					#masonry {
						margin-top:1rem;
						article {
							&.grid-sizer, &.grid-item {
								width:49%;
							}
						}
					}
				}
			}

			.header {
				padding-left:10%;
				padding-right:10%;

				#logo {
					width:100%;
					height:auto;
				}
			}

			i#open_button {
				top:1.5rem;
				left:1.5rem;
			}

			.side_button_wrapper {
				display:none;
			}

			aside {
				section {
					article {
						&:last-of-type {
							border-bottom-width: 0;
							padding-bottom:0;
							margin-bottom:0;
						}
					}
				}
			}
		}

		&#home {
			.content-wrapper {
				.header {
					#logo {
						width:80%;
						height:auto;
						margin: 0.45rem auto;
					}
				}
			}
		}
	}

	body,
	body.side-closed,
	body.side-open {
		.content-wrapper {
			aside {
				position:static;
				width:100%;
				height:auto;
				max-height:none;
				margin-top: 1rem;
			}
		}
	}
}

@media (max-width:48rem){
	body {
		.content-wrapper {
			.content {
				&>.cover-image {
					position:static;
				}
				.container {
					#masonry {
						article {
							&.grid-sizer, &.grid-item {
								width:100%;
							}

							&.gutter-sizer {
								width:0;
							}
						}
					}

					&.blog {
						article {
							h1 {
								font-size:1.5rem;
							}

							h2 {
								font-size:0.825em;
							}
						}
					}
				}
			}

			.header {
				padding: 1.5rem 0 1.5rem 1.5rem;

				#logo {
					height:2rem;
					margin: 0 auto;
				}

				h2 {
					display:none;
				}
			}

			nav {
				ul {
					padding-top:0;

					a {
						li {
							font-size:1.25rem;
						}
					}
				}
			}
		}

		&#home {
			.content-wrapper {
				.content {
					.container {
						&.blog {
							article {
								h1 {
									margin-bottom:0;
								}

								h2 {
									margin-top:.5rem;
								}
							}
						}
					}
				}
				.header {
					padding: 4rem 10%;

					#logo {
						margin: 0.4375rem auto;
						width:100%;
					}
					
					h2 {
						font-size:1.5rem;
						display:inline;
					}
				}
			}
		}
	}

	.page-block-2 {
		width:100%!important;
	}

	.row .page-block-2,
	.row .page-block-3 {
		margin-bottom:0!important;
	}
}

@media (max-width:42rem){
	.page-block-3 {
		width:100%!important;
	}
}

@media (max-width:30rem){

	body {
		&#home {
			.content-wrapper {
				.header {
					padding:3rem 7.5%;
					height:auto;
					
					#logo {
						position:static;
						width:100%;
						height:auto;
						margin: 2.5% auto;
					}

					h2 {
						font-size:1rem;
						display:inline;
					}
				}
			}
		}
		
		.content-wrapper {
			.header {
				padding:1rem 0;
				height:3rem;

				#logo {
					position:absolute;
					left:1rem;
					right:0;
					width:auto;
					height:20px;
					margin: 0 auto;
				}

				h2 {
					display:none;
				}
			}

			i#open_button {
				font-size:1.5rem;
				top:1rem;
				left:1rem;
				margin: -0.0625rem 0 0 0;
			}
		}
	}
}

@media (max-width:22.5rem){
	body {
		.content-wrapper {
			.header {
				#logo {
					//margin: 0 0 0 3.75rem;
					left:2rem;
				}
			}
		}
	}
}

@media (max-height:25rem) and (orientation:landscape) {

	body {
		nav {
			ul {
				padding-top:0;

				a li {
					font-size:1rem;
					margin:1rem 0;
				}
			}

			.nav-bottom {
				ul {
					a li {
						font-size:80%;
						margin:0.75rem;
						display:inline-block;
					}
				}
			}

			#copy {
				li {
					margin:.5rem 0;
				}
			}
		}
	}
}