/*
Theme Name: CMP2 Portfolio
Author: Bram De Backer
Author URI: http://bramdb.be/
Description: Eindopdracht CMPII
Version: 0.1
License: All Rights Reserved
*/
/**
 * Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #282828;
  /* WebKit/Blink Browsers */
  color: #f0f0f0; }

::selection {
  background: #282828;
  /* WebKit/Blink Browsers */
  color: #f0f0f0; }

::-moz-selection {
  background: #282828;
  /* Gecko Browsers */
  color: #f0f0f0; }

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 112.5%;
  font-family: 'Roboto Condensed', sans-serif; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; }

.content-wrapper {
  line-height: 175%;
  font-weight: 300; }
  .content-wrapper a,
  .content-wrapper a:visited,
  .content-wrapper a:focus,
  .content-wrapper a:active {
    color: #419BEC;
    text-decoration: none; }
  .content-wrapper a:hover {
    color: #419BEC;
    text-decoration: underline; }
  .content-wrapper p {
    line-height: 150%; }
  .content-wrapper strong {
    font-weight: 400; }

body {
  background: #282828; }
  body nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 16rem;
    z-index: 1; }
    body nav a, body nav a:visited, body nav a:hover, body nav a:active, body nav a:focus {
      text-decoration: none; }
    body nav ul {
      padding: 1rem 0 0;
      margin: 0;
      width: 100%;
      text-align: center; }
      body nav ul li {
        list-style-type: none;
        margin: 1.5rem 0;
        color: rgba(240, 240, 240, 0);
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 300; }
    body nav .nav-bottom {
      position: absolute;
      bottom: 0;
      width: 100%; }
      body nav .nav-bottom ul li {
        font-size: 1rem;
        margin: 1rem 0; }
      body nav .nav-bottom #copy {
        padding-top: 0; }
        body nav .nav-bottom #copy li {
          color: #8c8c8c; }
      body nav .nav-bottom #icon-row {
        overflow: hidden;
        padding: 0 1.5rem; }
        body nav .nav-bottom #icon-row a {
          display: block;
          width: 32px;
          height: 32px;
          margin-right: 26px;
          float: left; }
        body nav .nav-bottom #icon-row div li {
          background: #f0f0f0;
          border-radius: 100%;
          text-align: center;
          width: 32px;
          height: 32px;
          line-height: 32px;
          margin: 0; }
        body nav .nav-bottom #icon-row div a li,
        body nav .nav-bottom #icon-row div a:visited li,
        body nav .nav-bottom #icon-row div a:active li,
        body nav .nav-bottom #icon-row div a:focus li {
          color: #282828;
          text-transform: none; }
        body nav .nav-bottom #icon-row div a:hover li {
          background: #419BEC;
          color: #282828; }
        body nav .nav-bottom #icon-row a:last-of-type {
          margin-right: 0; }
  body #logo {
    display: block;
    height: 4rem;
    margin: 0.5rem auto;
    font-weight: 400;
    font-family: 'Oswald', sans-serif; }
  body .header {
    padding: 4rem 0;
    text-align: center;
    box-shadow: 0px 0px 1px 0px black;
    background: white; }
    body .header h2 {
      display: none;
      font-size: 2rem;
      font-weight: 300;
      line-height: 125%;
      color: #8c8c8c;
      text-transform: uppercase; }
  body#home #logo {
    height: 4rem;
    margin: 0.5rem auto; }
  body#home .header {
    padding: 4rem 0; }
    body#home .header h2 {
      display: block;
      margin: 0; }
  body .content {
    position: relative;
    padding: 1rem 0;
    /*overflow-x:hidden;*/ }
    body .content div.container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0; }
  body .content-wrapper {
    position: relative;
    z-index: 5;
    overflow-x: hidden;
    min-height: 100vh;
    background: #f0f0f0;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease;
    transition: transform 100ms ease, -webkit-transform 100ms ease; }
    body .content-wrapper .content > .cover-image {
      width: auto;
      height: 35vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      top: -1rem; }
    body .content-wrapper .content .container {
      zoom: 1; }
      body .content-wrapper .content .container::before, body .content-wrapper .content .container::after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      body .content-wrapper .content .container::after {
        clear: both; }
      body .content-wrapper .content .container #masonry {
        box-sizing: border-box;
        margin: 0; }
        body .content-wrapper .content .container #masonry article {
          padding: 0 0 1rem 0;
          margin-top: 0;
          margin-bottom: 1rem; }
          body .content-wrapper .content .container #masonry article > div {
            padding: 0 1rem; }
          body .content-wrapper .content .container #masonry article a {
            display: block;
            width: 100%; }
          body .content-wrapper .content .container #masonry article img {
            width: 100%; }
          body .content-wrapper .content .container #masonry article h1 {
            margin-bottom: .5rem; }
          body .content-wrapper .content .container #masonry article p.description {
            margin-top: .5rem;
            margin-bottom: .5rem; }
          body .content-wrapper .content .container #masonry article.grid-sizer, body .content-wrapper .content .container #masonry article.gutter-sizer {
            height: 0;
            margin: 0;
            padding: 0; }
          body .content-wrapper .content .container #masonry article.grid-sizer, body .content-wrapper .content .container #masonry article.grid-item {
            width: 32%; }
          body .content-wrapper .content .container #masonry article.gutter-sizer {
            width: 2%; }
      body .content-wrapper .content .container article {
        background: white;
        padding: 2rem;
        margin: 1rem 0;
        box-shadow: 0px 0px 1px 0px rgba(40, 40, 40, 0.35); }
        body .content-wrapper .content .container article:first-of-type {
          margin-top: 0; }
        body .content-wrapper .content .container article:last-of-type {
          margin-bottom: 0; }
        body .content-wrapper .content .container article .cover-image {
          background-position: center;
          width: auto;
          height: 35vh;
          margin: -2rem -2rem 2rem;
          background-repeat: no-repeat;
          background-size: cover; }
        body .content-wrapper .content .container article h1 {
          text-align: center;
          text-transform: uppercase;
          font-size: 1.75rem;
          font-weight: 400;
          margin-top: 0;
          line-height: 175%; }
        body .content-wrapper .content .container article h2 {
          color: #8c8c8c;
          font-weight: 400;
          text-align: center;
          line-height: 175%;
          text-transform: uppercase; }
        body .content-wrapper .content .container article h1 + h2 {
          margin-top: 0; }
        body .content-wrapper .content .container article.blog-post {
          padding-top: .5rem;
          max-width: 640px;
          margin-left: auto;
          margin-right: auto; }
        body .content-wrapper .content .container article.blog-post + #comment-section {
          max-width: 640px;
          margin-left: auto;
          margin-right: auto; }
      body .content-wrapper .content .container #comment-section h1 {
        text-align: left;
        font-size: 1.5rem;
        border-bottom: 1px solid #f0f0f0; }
      body .content-wrapper .content .container #comment-section .comment-list {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0; }
        body .content-wrapper .content .container #comment-section .comment-list li .comment-body {
          padding: 1rem; }
        body .content-wrapper .content .container #comment-section .comment-list li .comment-author {
          font-weight: 400; }
          body .content-wrapper .content .container #comment-section .comment-list li .comment-author img {
            float: left;
            margin: 0 1rem 1rem 0; }
        body .content-wrapper .content .container #comment-section .comment-list li .comment-metadata {
          font-size: 0.85em; }
        body .content-wrapper .content .container #comment-section .comment-list li .comment-content {
          clear: both; }
      body .content-wrapper .content .container.page article h1 {
        margin-bottom: 0; }
      body .content-wrapper .content .container.page article h2 {
        font-size: 1.5rem;
        margin: 0; }
      body .content-wrapper .content .container.blog article h2 {
        margin-bottom: 0;
        font-size: 1em; }
    body .content-wrapper i#open_button {
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 2rem;
      cursor: pointer;
      margin: 0; }
    body .content-wrapper i#twitter_button {
      font-size: 1.5rem;
      cursor: pointer;
      margin: 0;
      color: #f0f0f0; }
    body .content-wrapper aside {
      top: 13rem;
      bottom: 0;
      max-height: 100vh;
      width: 16rem;
      background: #282828;
      position: absolute;
      overflow: hidden;
      right: -16rem;
      -webkit-transition: right 237ms ease;
      transition: right 237ms ease;
      color: #f0f0f0;
      padding: 1rem 0; }
      body .content-wrapper aside .slimScroll {
        padding: 0 1rem; }
      body .content-wrapper aside section.twitter h1 {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 175%;
        text-transform: uppercase;
        color: #8c8c8c;
        margin: 0;
        padding-bottom: 0.25rem;
        margin-bottom: 0.75rem;
        border-bottom: 1px solid #555555; }
      body .content-wrapper aside section.twitter article {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #555555; }
        body .content-wrapper aside section.twitter article p {
          margin: 0; }
          body .content-wrapper aside section.twitter article p:nth-of-type(2) {
            margin-top: 0.25rem;
            font-size: 0.75em;
            color: #8c8c8c; }
    body .content-wrapper .side_button_wrapper {
      line-height: 125%;
      position: absolute;
      right: 0rem;
      width: 2.75rem;
      top: 15rem;
      height: 3rem;
      padding: 0.75rem;
      text-align: center;
      box-shadow: 0px 0px 2px 0px rgba(40, 40, 40, 0.75);
      border-radius: 0.5rem 0 0 0.5rem;
      background-color: #282828;
      -webkit-transition: width 237ms ease, background-color 237ms ease, right 237ms ease;
      transition: width 237ms ease, background-color 237ms ease, right 237ms ease; }
      body .content-wrapper .side_button_wrapper:hover {
        width: 3rem; }
      body .content-wrapper .side_button_wrapper.stick {
        position: fixed;
        top: 2rem !important; }
  body#home .content-wrapper .content .container article a {
    color: #282828;
    border-color: black; }
    body#home .content-wrapper .content .container article a:hover {
      color: black;
      text-decoration: none; }
      body#home .content-wrapper .content .container article a:hover h1 {
        text-decoration: underline; }
  body#home .content-wrapper .content .container header h1 {
    text-transform: uppercase;
    line-height: 175%; }
  body#home .content-wrapper .content .container.blog article h1 {
    margin-bottom: 0; }
  body#home .content-wrapper aside {
    top: 15.5rem; }
  body#home .content-wrapper .side_button_wrapper {
    top: 17.5rem;
    /*15.5 + 2 */ }
  body.side-open .content-wrapper aside {
    box-shadow: 0px 0px 2px 0px rgba(40, 40, 40, 0.75);
    right: 0; }
    body.side-open .content-wrapper aside.stick {
      position: fixed;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
      height: 100vh; }
  body.side-open .content-wrapper .side_button_wrapper {
    right: 16rem;
    background-color: #419BEC; }
  body.menu-open nav {
    display: block;
    position: fixed; }
    body.menu-open nav li,
    body.menu-open nav a li,
    body.menu-open nav a:visited li {
      color: #f0f0f0;
      -webkit-transition: color 137ms ease;
      transition: color 137ms ease; }
    body.menu-open nav a li.active {
      color: #8c8c8c; }
    body.menu-open nav a:hover li {
      color: #419BEC; }
  body.menu-open .content-wrapper {
    -webkit-transform: translateX(16rem);
    transform: translateX(16rem);
    -webkit-transition: -webkit-transform 237ms ease;
    transition: -webkit-transform 237ms ease;
    transition: transform 237ms ease;
    transition: transform 237ms ease, -webkit-transform 237ms ease; }

.row {
  display: block;
  margin-left: -1%;
  margin-right: -1%;
  zoom: 1; }

.row::before,
.row::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.row::after {
  clear: both; }

.page-block-2,
.page-block-3 {
  float: left !important; }

.page-block-2 {
  width: 48% !important;
  margin: 1rem 1% !important; }

.page-block-3 {
  width: 31.33333% !important;
  margin: 1rem 1% !important; }

@media (max-width: 62rem) {
  body .content-wrapper .content {
    padding: 0; }
    body .content-wrapper .content .container.blog header h1 {
      padding-left: 1rem;
      padding-right: 1rem; }
    body .content-wrapper .content .container article {
      padding: 1rem; }
      body .content-wrapper .content .container article div.cover-image {
        margin: -1rem -1rem 1rem; }
    body .content-wrapper .content .container #masonry {
      margin-top: 1rem; }
      body .content-wrapper .content .container #masonry article.grid-sizer, body .content-wrapper .content .container #masonry article.grid-item {
        width: 49%; }
  body .content-wrapper .header {
    padding-left: 10%;
    padding-right: 10%; }
    body .content-wrapper .header #logo {
      width: 100%;
      height: auto; }
  body .content-wrapper i#open_button {
    top: 1.5rem;
    left: 1.5rem; }
  body .content-wrapper .side_button_wrapper {
    display: none; }
  body .content-wrapper aside section article:last-of-type {
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  body#home .content-wrapper .header #logo {
    width: 80%;
    height: auto;
    margin: 0.45rem auto; }

  body .content-wrapper aside,
  body.side-closed .content-wrapper aside,
  body.side-open .content-wrapper aside {
    position: static;
    width: 100%;
    height: auto;
    max-height: none;
    margin-top: 1rem; } }
@media (max-width: 48rem) {
  body .content-wrapper .content > .cover-image {
    position: static; }
  body .content-wrapper .content .container #masonry article.grid-sizer, body .content-wrapper .content .container #masonry article.grid-item {
    width: 100%; }
  body .content-wrapper .content .container #masonry article.gutter-sizer {
    width: 0; }
  body .content-wrapper .content .container.blog article h1 {
    font-size: 1.5rem; }
  body .content-wrapper .content .container.blog article h2 {
    font-size: 0.825em; }
  body .content-wrapper .header {
    padding: 1.5rem 0 1.5rem 1.5rem; }
    body .content-wrapper .header #logo {
      height: 2rem;
      margin: 0 auto; }
    body .content-wrapper .header h2 {
      display: none; }
  body .content-wrapper nav ul {
    padding-top: 0; }
    body .content-wrapper nav ul a li {
      font-size: 1.25rem; }
  body#home .content-wrapper .content .container.blog article h1 {
    margin-bottom: 0; }
  body#home .content-wrapper .content .container.blog article h2 {
    margin-top: .5rem; }
  body#home .content-wrapper .header {
    padding: 4rem 10%; }
    body#home .content-wrapper .header #logo {
      margin: 0.4375rem auto;
      width: 100%; }
    body#home .content-wrapper .header h2 {
      font-size: 1.5rem;
      display: inline; }

  .page-block-2 {
    width: 100% !important; }

  .row .page-block-2,
  .row .page-block-3 {
    margin-bottom: 0 !important; } }
@media (max-width: 42rem) {
  .page-block-3 {
    width: 100% !important; } }
@media (max-width: 30rem) {
  body#home .content-wrapper .header {
    padding: 3rem 7.5%;
    height: auto; }
    body#home .content-wrapper .header #logo {
      position: static;
      width: 100%;
      height: auto;
      margin: 2.5% auto; }
    body#home .content-wrapper .header h2 {
      font-size: 1rem;
      display: inline; }
  body .content-wrapper .header {
    padding: 1rem 0;
    height: 3rem; }
    body .content-wrapper .header #logo {
      position: absolute;
      left: 1rem;
      right: 0;
      width: auto;
      height: 20px;
      margin: 0 auto; }
    body .content-wrapper .header h2 {
      display: none; }
  body .content-wrapper i#open_button {
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    margin: -0.0625rem 0 0 0; } }
@media (max-width: 22.5rem) {
  body .content-wrapper .header #logo {
    left: 2rem; } }
@media (max-height: 25rem) and (orientation: landscape) {
  body nav ul {
    padding-top: 0; }
    body nav ul a li {
      font-size: 1rem;
      margin: 1rem 0; }
  body nav .nav-bottom ul a li {
    font-size: 80%;
    margin: 0.75rem;
    display: inline-block; }
  body nav #copy li {
    margin: .5rem 0; } }

/*# sourceMappingURL=style.css.map */